DRIVE_LINK="the drive link to the model files"
FRONTEND_URL_1="frontend url 1 (e.g., http://localhost:3000)"
FRONTEND_URL_2="frontend url 2 (e.g., http://127.0.0.1:3000)"
# frontend url 3 can be added here in the same format if needed , and also add in the cors origins list in main.py file